<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>numberTranslator</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Number Translator</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-title>Enter a Number (1 - 1000)</ion-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Number</ion-label>
        <ion-input type="number" [(ngModel)]="number" (input)="translateNumber()"></ion-input>
      </ion-item>

      <ion-text *ngIf="translatedText">
        <h2>Result: {{ translatedText }}</h2>
      </ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>
